:root{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #ff5450;
}

/*HEADER*/

header{
    background: var(--color-red)
}


/* nav{
    display: flex ;
    justify-content: flex-end;
} */

hr{
    border: none;
}

/*BODY*/

body{
}

.container{
    background: linear-gradient( var(--color-red), var(--color-white));
    width: 100%;
    margin: 0 auto;
}

.firstInfo{
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin: 0 auto;
}

h1{
    font-family: "Yeseva One", serif;
    font-size: 50px;
    width: 100%;
    margin: 0 auto;
}

p{
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    width: 90%;
    margin: 0 auto;
}

.imgYo{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    border-radius: 30%;
    opacity: 90%;
}

.aboutme{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.containerSegundo{
    background-color: var(--color-white);
    /* PARA CONTAINER SIEMPRE WIDTH Y MARGIN EL DUO DINAMICO */
    width: 100%;
    margin: 0 auto;
}

.columnas{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    margin: 0 auto;
}

.rightFrame{
    margin-top: 10%;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.leftFrame{
    margin-top: 10%;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.imagenes{

}

.htmlLogo{
    width: 36%;
}

.adobeLogo{
    width: 60%;
}

.skills{
    width: 100%;
    margin-top: 5%;
}

h2{
    font-family: "Yeseva One", serif;
    font-size: 30px;
    padding: 20px;
}

.languages{
    width: 90%;
    margin: 0 auto;
}

.languagesImg{
    width: 80%;
    display: flex;
    justify-content: center;
}

.containerTercero{
    background: linear-gradient(var(--color-white), var(--color-red) );
    width: 100%;
    margin: 0 auto;
}

.projects{
    width: 90%;
    margin: 0 auto;
}

.textEncryptor{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.projectEncryptor{
    display: grid;
    grid-template-columns: 50% 50%;
}

.projectEncryptorButton{
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#botonTextEncryptor{
    background-color: var(--color-white); 
    border: none;
    border-radius: 40%;
    width: 20%;
    height: 30px;
    color: var(--color-red);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.aluraPlay{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.projectAluraPlay{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}

#botonAluraPlay{
    background-color: var(--color-white); 
    border: none;
    border-radius: 40%;
    width: 20%;
    height: 30px;
    color: var(--color-red);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

/*FOOTER*/
footer{
    text-align: center;
    background: var(--color-red)
}